/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo a fonte padrão */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

/* Estilo da seção de conteúdo */
.conteudo {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

/* Estilo dos artigos informativos */
.informacao {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.informacao img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.informacao h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.informacao p,
.informacao ul {
    font-size: 1rem;
    color: #666;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
